*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: calc(0,5px + 1.5vw);
}

#header .abajo{
    background-color: rgba(0, 0, 0, 0.5);
  
}
  
#main #carousel .carousel-inner img {
    max-height: 100vh;
    object-fit: cover;
    filter: grayscale(70%);
}
  
#carousel {
    position: relative;
}
  
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #F5EDED;
}
  
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

.whatsapp-fixed{
    position: fixed;    
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    
}

.title-logo{
    color: #FAF2D3;
}

.title-logo-cont{
    color: black;
}

#footer {
    background-color: rgba(104, 102, 102, 0.8);
}
  
#footer a {
    color: #F5EDED;
}

#footer img{
    height: 32px;
    margin-left: 20px;
}

@media (max-width: 600px) {

    .title-logo{
        font-size: 15px;
    }

    *{
        font-size: 10px;
    }

    .img-icons{
        width: 30px;
    }
  }

  @media (min-width: 700px) {
    iframe{
      width: 600px;
      height: 450px;
    }
  }